.stats {
  height: 30%;
  display: flex;
  .card {
    height: 100%;
    width: 25%;
    padding: 20px;
    padding-bottom: 0;
    .content {
      transition: 0.5s;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
      cursor: pointer;
      background-color: #fff;
    }
    &:nth-child(1) {
      .content {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
        .cardImage {
          height: 60px;
          width: 60px;
          background-color: #3a5aa51b;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 2px solid #3a5aa5;
          .icon {
            font-size: 30px;
            color: #015f83;
          }
        }
      }
    }
    &:nth-child(2) {
      .content {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
        .cardImage {
          height: 60px;
          width: 60px;
          background-color: rgba(255, 166, 0, 0.109);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 2px solid #3a5aa5;
          .icon {
            font-size: 30px;
            color: orange;
          }
        }
      }
    }
    &:nth-child(3) {
      .content {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
        .cardImage {
          height: 60px;
          width: 60px;
          background-color: rgba(255, 0, 0, 0.168);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 2px solid #3a5aa5;
          .icon {
            font-size: 30px;
            color: red;
          }
        }
      }
    }
    &:nth-child(4) {
      .content {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
        .cardImage {
          height: 60px;
          width: 60px;
          background-color: rgba(0, 128, 0, 0.145);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 2px solid #3a5aa5;
          .icon {
            font-size: 30px;
            color: green;
          }
        }
      }
    }
  }
}
