.header {
  height: 80px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h1 {
      color: #015f83;
    }
    img {
      height: 100%;
    }
  }
  .search {
    width: 50%;
    height: 80%;
    position: relative;
    display: flex;
    gap: 15px;
    input {
      &::placeholder {
        font-size: 20px;
      }
      height: 100%;
      width: 100%;
      padding: 0 20px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: #f3f3f9;
    }
    .icon {
      position: absolute;
      color: #015f83;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: #142e6a;
      }
    }
  }
  .profile {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
    cursor: pointer;
    .profileImage {
      height: 63px;
      width: 63px;
      border: 3px solid #015f83;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .2s;
      &:hover{
        border: 3px solid #142e6a;
      }
      img {
        height: 60px;
        width: 60px;
        object-fit: cover;
      }
    }
    .icon {
      font-size: 50px;
      color: #015f83;
    }
  }
}
